/* Community */
.Community {
    /* margin-top: 2%; */
    margin-left: 4%;
    margin-right: 4%;
}
.Community .title {
    margin: 0;
    margin-right: 16px;
    text-align: center;
}
.Community .titleWrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.Community .title2Wrapper {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
.Community .AvsBWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 28px;
}
.Community .AvsBTitle {
    margin-top: 16px;
    text-align: center;
}
.Community .bottomWrapper {
    display: flex;
    justify-content: space-between;
}
.Community .hotSurveyWrapper {
    width: 65%;
    padding-right: 40px;
}
.Community .hotCategoryWrapper {
    width: 35%;
}
