/* Home */
.Home {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}
.homeLeftWrapper {
    margin-left: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.Home .title {
    text-align: left;
    font-weight: 700;
}
.Home .catchPhrase {
    text-align: left;
    font-size: 1.15em;
}

.Home .imgWrapper {
    height: 100%;
    margin-top: 5%;
    width: 100%;

    display: inline-block;
}
.homeBtnWrapper {
    margin-top: 60px;
    display: flex;
    gap: 50px;
}
.homeBtn {
    width: 160px;
}

.homeImg {
    width: 80%;
}
