/* About */

.About {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.About .page1 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
.About .A {
  color: blue;
}

.About .page1 img {
  flex-basis: 40%;
  height: auto;
  width: 30%;
}

.About .page1 h4 {
  flex-basis: 40%;
  margin-left: 5rem; /* 이미지와 간격을 조정*/
  font-size: 3rem;
  line-height: 80px; /* 이미지의 높이와 같도록 지정 */
}

.About .header {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

.About .developed-by {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}

.About .developed-by a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.About .page2 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-top: 10%;
  width: 100%;
}

.About .page2 h4 {
  margin-left: 5rem;
  font-size: 1.5rem;
}

.container1,
.container2 {
  flex-basis: 50%;
  padding: 2rem;
  box-sizing: border-box;
}

.page2 .container1 img {
  width: 70%;
  padding-top: 5%;
  height: auto;
}

.page2 .container2 img {
  width: 5%;
  margin-right: 5%;
}

.page2 .container2 .sentence1 {
  margin-bottom: 5%;
}

.page2 .container2 .sentence2 {
  margin-bottom: 5%;
}

.page2 .container2 .problem1 {
  font-weight: bold;
  font-size: 1.7rem;
}

.page2 .container2 .hope1 {
  font-size: 1.1rem;
}

.page2 .container2 .sentence1 .sen1_subcontainer1 {
  margin-bottom: 0.7rem;
}

.page2 .container2 .sentence1 .sen1_subcontainer2 {
  width: 100%;
  justify-content: center; /* 가로 중앙 정렬 */
}

.page2 .container2 .sentence2 .sen2_subcontainer1 {
  margin-bottom: 0.7rem;
}

.page2 .container2 .sentence3 .sen3_subcontainer1 {
  margin-bottom: 0.7rem;
}

.About .page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  width: 100%;
}

.page3 .goal {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5%;
}

.page3 .container1 img {
  width: 10%;
  margin-right: 5%;
}

.page3 .container1 .solName {
  font-weight: bold;
  font-size: 1.7rem;
  border-bottom: 2px solid black;
}

.page3 .container1 {
  display: flex;
}

.page3 .container1 .solution1,
.solution2,
.solution3 {
  flex-basis: 50%;
  text-align: center;
}

.page3 .container1 .solution1 {
  margin-right: 1rem;
}

.page3 .container1 .solution2 {
  margin-right: 1rem;
}

.page3 .container1 .solution1 .sol1_subcontainer1 {
  margin-bottom: 1rem;
}

.page3 .container1 .solution2 .sol2_subcontainer1 {
  margin-bottom: 1rem;
}

.page3 .container1 .solution3 .sol3_subcontainer1 {
  margin-bottom: 1rem;
}
