/* CreateAvsB */

.CreateAvsB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 5% 5% 5%;
}
.CreateAvsB .text-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.CreateAvsB .surveyTitle {
    border: none;
    font-size: 2.4em;
    font-weight: 800;
    margin-bottom: 12px;
    width: 50%;
    font-weight: 500;
    text-align: center;
}
.CreateAvsB .surveyTitle:focus {
    outline: none;
    border-bottom: 1px solid blue;
}
.CreateAvsB .surveyDesc {
    border: none;
    font-size: 1em;
    font-weight: 800;
    /* margin-bottom: 12px; */
    width: 50%;
    height: 50;
    font-weight: 400;
    text-align: center;
    padding: 0;
}
.CreateAvsB .surveyDesc:focus {
    outline: none;
    border-bottom: 1px solid blue;
}
.CreateAvsB .AvsBWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 24px;
}
.CreateAvsB .ABImage {
    width: 360px;
    height: 270px;
    border: 1px dotted rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
}
.CreateAvsB .ABContent {
    display: flex;
    flex-direction: column;
}
