.Post {
    min-height: calc(100vh - 103.23px);
}
.Post .surveyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Post .topWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Post .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Post .descWrapper {
    width: 70%;
}
.Post .title {
    border: none;
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 12px;
    width: auto;
    font-weight: 500;
}
.Post .desc {
    border: none;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 12px;
    width: auto;
    font-weight: 400;
}
.Post .statistics {
    display: flex;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 9%;
    min-height: 30px;
}
.Post .buttonWrapper {
    display: flex;
    align-items: center;
    justify-items: center;
}
.Post .deleteSurveyBtn {
    margin-right: 8px;
}
.Post .commentBox {
    margin-bottom: 20px;
    width: 100%;
    min-height: 100px;
}
.Post .commentBarWrapper {
    display: flex;
    width: 100%;
    align-items: center;
}
.Post .commentBar {
    width: 100%;
    height: 35px;
    margin-right: 20px;
    padding-left: 12px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    border: 0;
}
.Post .commentBar:focus {
    width: 100%;
    height: 35px;
    margin-right: 20px;
    padding-left: 12px;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    border: 0;
    outline: none !important;
}
.Post .commentLabel {
    width: 4000px;
    /* height: 35px; */
}
.Post .commentBarWrapper #submitBtn {
    width: 60px;
    height: 35px;
}
.Post .postStartDate,
.postDueDate,
.postViews {
    text-align: right;
}
