/* CreateSurvey */

.Survey {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
    min-height: calc(100vh - 103.23px);
}
.surveyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 5%;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 50px;
    min-height: calc(100vh - 113.23px);
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Survey .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Survey .surveyTitle {
    border: none;
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 12px;
    width: auto;
    font-weight: 500;
    text-align: center;
}
.Survey .surveyTitle:focus {
    outline: none;
    border-bottom: 1px solid blue;
}
.Survey .surveyDesc {
    border: none;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 12px;
    width: auto;
    font-weight: 400;
    text-align: center;
}
.Survey .surveyDesc:focus {
    outline: none;
    border-bottom: 1px solid blue;
}
.ButtonWrapper {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.ButtonWrapper .SurveyBtnWrapper {
    margin-left: 12px;
}
.ButtonWrapper .SurveyBtnWrapper .submit-btn {
    margin-right: 12px;
}
.Survey .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* QuestionForm */
.QuestionForm {
    margin-top: 4% !important;
    margin-bottom: 0% !important;
    width: 85% !important;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 4px 0px;
    border-radius: 25px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.QuestionForm .top-wrapper {
    display: flex;
    justify-content: space-between;
}
.QuestionForm .delete-btn {
    width: 40px;
    height: 40px;
}
.QuestionForm .formtitle {
    border: none;
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 12px;
    min-width: 300px;
    width: auto;
    font-weight: 500;
}
.QuestionForm .formtitle:focus {
    outline: none;
    border-bottom: 1px solid blue;
}

/* ShortForm */
.shortform-input {
    min-height: 200px;
    resize: none;
}

.form-selection-btn-wrapper {
}
.deleteSelection-btn {
    margin-left: 8px;
}

/* SendFormModal */
.sendFormModal {
}
.formLinkInput {
    width: 80%;
}
.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-header {
    width: 100%;
}
.modal-footer {
    padding-left: auto;
}
