.CreateSurvey {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.surveyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 5%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    min-height: calc(100vh - 113.23px);
    margin-right: 0;
}
.CreateSurvey .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.CreateSurvey .surveyTitle {
    border: none;
    font-size: 2.4em;
    font-weight: 800;
    margin-bottom: 12px;
    width: min-content;
    font-weight: 500;
    text-align: center;
}
.CreateSurvey .surveyTitle:focus {
    outline: none;
    border-bottom: 1px solid blue;
}
.CreateSurvey .surveyDesc {
    border: none;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 12px;
    width: auto;
    font-weight: 400;
    text-align: center;
}
.CreateSurvey .surveyDesc:focus {
    outline: none;
    border-bottom: 1px solid blue;
}
.ButtonWrapper {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.ButtonWrapper .SurveyBtnWrapper {
    margin-left: 12px;
}
.ButtonWrapper .SurveyBtnWrapper .submit-btn {
    margin-right: 12px;
}
.CreateSurvey .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
